@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}
@font-face {
font-weight: 400;
font-family: "Pretendard-Regular";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
font-weight: 500;
font-family: "Pretendard-Medium";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}
@font-face {
font-weight: 600;
font-family: "Pretendard-SemiBold";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}
@font-face {
font-weight: 700;
font-family: "Pretendard-Bold";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}
@font-face {
font-weight: 800;
font-family: "Pretendard-ExtraBold";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

* {
box-sizing: content-box;
}

html,
body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
font-size: 16px;
z-index: -99999;
display: block;
}

html {
overflow: hidden;
overflow-y: hidden;
}

main,
div,
h1,
h2,
h3 {
margin: 0;
padding: 0;
}

ol,
ul,
li {
list-style: none;
display: inline-block;
padding: 0;
margin: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgb(163, 217, 237), rgb(217, 224, 213));
}

.model-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

model-viewer {
    width: 100%;
    height: 100%;
    position: absolute;
}

#backgroundModel {
    width: 170%;
    height: 170%;
    z-index: -9999999;
}

#backgroundOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.001);
    z-index: -10000;
}

#hamModel {
    width: 40%;
    height: 40%;
    bottom: 10%;
    
}

#hamModel::after {
    content: '';
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 7rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: -10;
}

/* nav */
nav {
    margin: 2rem 0;
}

.logo {
    width: 5rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.menuIcon {
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 2.5rem;
}

.exitIcon {
    position: absolute;
    width: 2rem;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}

/* title */
.titleSection {
    text-align: center;
    position: fixed;
    top: 15%;
}

.titleWalk {
    color: #71594E;
    text-align: center;
    font-family: "Pretendard-ExtraBold";
    font-size: 1.6rem;
}

.titleLine {
    font-family: "Pretendard-Bold";
    background-color: #71594E;
    width: 12rem;
    height: 0.2rem;
    border: none;
    border-radius: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}

/* 캐릭터 설명 박스 */
.character-description-box {
    font-family: "Pretendard-Bold";
    position: fixed;
    left: 5%;
    top: 50%;
    padding: 1.5rem 2.5rem;
    transform: translateY(-50%);
    width: 15%;
    height: 35%;
    border: 2px solid #D2BEA1;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FCF7E5;
}

.character-description-box .name {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Pretendard-Bold";
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.character-description-box .introduce {
    font-family: "Pretendard-Regular";
    font-size: 1rem;
    margin-bottom: 1.2rem;
    line-height: 135%;
}

.intimacyBox {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.intimacy {
    font-family: "Pretendard-SemiBold";
    font-size: 1.4rem;
}

.heartImg {
    margin-left: auto;
    width: 35%;
    height: 35%;
}

/* 캐릭터 선택 박스 */
.character-select-box {
    position: fixed;
    right: 7%;
    text-align: center;
    /* width: 14%; */
    height: 85%;
    padding: 1.5rem;
}

.characterBackground {
    border: 3px solid #D2BEA1;
    border-radius: 50px;
    background-color: #FCF7E5;

    width: 16rem;
    height: 25rem;
}

.coinBigBackground {
    border: 3px solid #D2BEA1;
    border-radius: 50px;
    background-color: #FCF7E5;

    width: 9rem;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coinIcon {
    width: 20%;
    float: left;
}

.coins {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinText {
    font-family: "Pretendard-Regular";
    font-size: 1.3rem;
    color: #AB936B;
    float: right;
}
.coinFlex {
    justify-content: center;
    align-items: center;

    background-color: #FEF5D3;
    border: 3px solid #D2BEA1;
    border-radius: 50px;
    background-color: #FCF7E5;

    padding: 1rem 1rem;

    z-index: 100;

    position: relative;
    text-align: center;
    margin: auto;
}

.characterBox {
    position: relative;
    width: 12%;
    text-align: center;
    bottom: 62vh;
    left: 15%;
}

.character-option {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
    cursor: pointer;
    position: relative;
    width: 12%;
}

.hamImg {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.sectionName {
    font-family: "Pretendard-Medium";
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #71594E;
}

.character-option .select {
    font-family: "Pretendard-Regular";
    font-size: 0.8rem;
    color: #070000;
    background-color: #F5EED1;
    border-radius: 10rem;
    width: 5rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-option.selected .select {
    background-color: #D2BEA1;
}

#professorOption.selected .select {
    background-color: #D2BEA1;
}

/* 캐릭터 설명 */
.character-description {
    position: fixed;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
    text-align: left;
    font-family: "Pretendard-Bold";
    color: #71594E;
}

.character-description .name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.character-description .introduce {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.character-navigation {
    position: fixed;
    bottom: 27.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.left, .right {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

/* 구매 팝업 */
#purchasePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    font-family: "Pretendard-Bold";
    background: white;
    width: 30rem;
    height: 15rem;
    border-radius: 8px;
    text-align: center;
}

.popup-content p {
    margin-top: 12.5%;
    margin-bottom: 9%;
    font-size: 2rem;
}

button {
    border: 0;
}

.popup-content button {
    font-family: "Pretendard-SemiBold";
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    width: 6.25rem;
    height: 2.75rem;
    cursor: pointer;
    font-size: 1.5rem;
}

#confirmPurchase {
    background-color: #A88756; /* 구매 버튼 색상 */
    color: white;
}

#cancelPurchase {
    background-color: #ccc; /* 취소 버튼 색상 */
}