@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}
@font-face {
font-weight: 400;
font-family: "Pretendard-Regular";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
font-weight: 500;
font-family: "Pretendard-Medium";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}
@font-face {
font-weight: 600;
font-family: "Pretendard-SemiBold";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}
@font-face {
font-weight: 700;
font-family: "Pretendard-Bold";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}
@font-face {
font-weight: 800;
font-family: "Pretendard-ExtraBold";
src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 180%;
    overflow: hidden; /* 스크롤 바 숨김 */
    position: relative;
    font-size: 16px;
    display: block;
    background: linear-gradient(to bottom, rgba(255, 238, 208, 0.3) 0%, rgba(255, 238, 208, 1) 100%);
}

/* loading page */
.mainText {
    font-family: "Pretendard-Medium";
    color: #71594E;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 전체 뷰포트 높이를 사용하여 중앙에 위치 */
    margin: 0;
    position: absolute;
    width: 100%; /* 전체 너비 */
    text-shadow: 0 0 1.5px #71594E;
}


#scrollButton {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    cursor: pointer;
    position: fixed;
    top: 88%; /* 화면 중앙에 위치 */
    left: 50%; /* 화면 중앙에 위치 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치하도록 조정 */
    width: 5rem; /* 이미지 크기에 맞게 조정 */
    height: 6rem; /* 이미지 크기에 맞게 조정 */
    z-index: 1000; /* 다른 요소들 위에 보이도록 */
    outline: none; /* 포커스 아웃라인 제거 */
}


#down {
    width: 100%; 
    height: 100%; 
    transition: transform 0.3s ease;
}

.down:hover {
    transform: translate(0, 10px);
}

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.Wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.leftTree, .rightTree {
    position: absolute; /* 각 트리 요소들을 상대적으로 위치 설정 */
    display: flex;
    justify-content: space-between; /* 좌우에 요소들을 분산 배치 */
    align-items: flex-end; /* 하단에 요소들을 정렬 */
    bottom: 0.001rem;
    z-index: 1;
}

.leftTree {
    left: 0; /* 왼쪽 끝에 위치 */
}

.rightTree {
    right: -15rem; /* 오른쪽 끝에 위치 */
    bottom: -2rem;
}


#browntree2 {
    position: absolute;
    left: 5.7rem;
    bottom: 0.5rem;
    height: 10rem;
}

#browntree {
    position: absolute;
    left: 13.4rem;
    height: 11rem;
    bottom: 3.8rem;
}

#hamster {
    position: absolute;
    bottom: 4rem;
    left: 26rem;
    width: 7rem;
}

.sky {
    position: absolute;
    bottom: 30rem;
}

#cloud1 {
    position: absolute;
    right: 23rem;
    bottom: 3rem;
}
#cloud2 {
    position: absolute;
    left: 20rem;
    bottom: 4rem;
}
#cloud3 {
    position: absolute;
    left: 10rem;
    bottom: 3rem;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 0;
}
#noeul {
    position: absolute;
    bottom: 8rem;
    left: 25rem;
}

/* .LOGO {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.LOGO {
    display: flex;
    flex-direction: column; /* row에서 column으로 변경하여 수직 정렬 */
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5rem; /* 필요한 경우 조정 */
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* 텍스트 가운데 정렬 */
    width: 100%; /* 너비를 100%로 설정 */
}


#logoback {
    width: 26.5rem;
    height: 18rem;
    z-index: 10;
    margin-bottom: -14rem;
    opacity: 80%;
}



.logoText {
    color: #AB936B;
    font-family: "Pretendard-Medium";
    position: absolute;
    bottom: 28rem;
    z-index:30;
    font-size: 1.3rem;
}

/* .startButton {
    width: 13rem;
    height: 4rem;
    background-color: #F5EED1;
    border-radius: 15px;
    border: solid 3.5px #AB936B;
    z-index: 20; 
    position: absolute;
    bottom: 5rem;
    left: 55rem;

    align-items: center;

    transform: translate(50%, 50%);
    transition: transform 0.3s ease;
} */

.startButton {
    width: 13rem;
    height: 4rem;
    background-color: #F5EED1;
    border-radius: 15px;
    border: solid 3.5px #AB936B;
    z-index: 20;
    margin-top: 1rem; /* 버튼과 위 요소 사이에 간격 추가 */
    text-align: center; /* 텍스트 가운데 정렬 */
    cursor: pointer;
    margin-left: 5rem;
    transition: transform 0.3s ease;
}

.startButton:hover {
    transform: translate(0, 5px);
    cursor: pointer;
}

.btnText {
    font-family: "Pretendard-SemiBold";
    color: #AB936B;
    font-size: 1.5rem;
}


#load {
    opacity: 60%;
    width: 17rem;
    margin-bottom: -10rem; /* 이미지와 아래 요소 사이에 간격 추가 */
    text-align: center;
    margin-left: 4rem;
}

.btnText {
    text-align: center;
    margin: auto 0;
    font-family: "Pretendard-SemiBold";
    color: #AB936B;
    font-size: 1.5rem;
}




/* 구름 애니메이션 */
@keyframes float {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30px); /* 오른쪽으로 20px 이동 */
    }
}

.sky {
    animation: float 6s ease-in-out infinite; 
}

#cloud1 {
    animation-delay: 0s; 
}

#cloud2 {
    animation-delay: 2s; 
}

#cloud3 {
    animation-delay: 4s;
}

/* 나무들 애니메이션 */
@keyframes scaleUp {
    0% {
        transform: scale(0.7); /* 초기에 요소의 크기를 50%로 설정 */
        opacity: 0;
    }
    50% {
        transform: scale(1.1); /* 중간에 요소의 크기를 110%로 늘림 */
        opacity: 0.5; 
    }
    100% {
        transform: scale(1); /* 최종적으로 요소의 크기를 100%로 설정 */
        opacity: 1; 
    }
}

.leftTree, .rightTree {
    animation: scaleUp 1s ease-in-out forwards; 
    animation-delay: 3s;
}

/* 로고 fadein 애니메이션 */
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.LOGO {
    animation: fadeIn 2s ease-in-out forwards; 
    animation-delay: 3s;
}
