@media (min-width: 1441px)
{
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: -0.1rem;
    
}

body
{
    background-repeat : no-repeat;
    background-size : cover;
    background: linear-gradient(white, #F5EED1);
}


/* fontweight
    black :  900 
    extra bold : 800
    bold : 700
    semi bold : 600
    medium : 500
    regular : 400
*/

h3, h2
{
    font-weight: 700;
    font-size: 2.2rem;   
}

p
{
    font-size: 1.3rem;
}

#profile p
{
    
    font-weight: 700;
    margin: 1rem 0.5rem 0rem 0.16rem;
    word-spacing: 0.2rem;
}

#profile > img
{
    width: 60%;
}

#profile > img + p
{
    font-size: 1.5rem;
    font-weight: 700;
    transform: translate(10rem, -3.8rem);
}

#profile span 
{
    color: #71594E;
}

#profile > div
{
    display: flex;
}

#profile>div> h3 :nth-child(1)
{
    display: inline-block;
    font-weight: 900;
    margin: 0rem 0rem 2.7rem 0.18rem;
    letter-spacing: 0.07rem;

}

#profile > div :nth-child(2)
{
    padding: 0.16rem 0rem 0rem 0.2rem;
    font-size: 2rem;
    letter-spacing: -0.02rem;
}


/* nav */
nav {
    height: 5rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
}

.logo {
    width: 5rem;

    position: absolute;
    left: 2rem;
    top: 1.25rem;
}

.menuIcon {
    position: absolute;
    right: 2rem;
    top: 1.6rem;

    width: 2.5rem;

    cursor: pointer;
}

.exitIcon {
    position: absolute;
    width: 2rem;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}
/* nav
{
    border: 0.1rem solid black;
    height: 7rem;
    margin: 2.7rem 3.5rem 0rem 2.9rem;
    display: flex;
    justify-content: space-between;
}*/

nav~div 
{
    margin: 1rem 6rem 0rem 4.2rem;
    display: flex;
    justify-content: space-between;

}



nav div a
{
    margin-left: 2.3rem;
}



/* 정렬 */


/* profile */

#profile div+img 
{
    margin-top: 0.3rem;
    margin-left: 2.5rem;
}

#profile > h3 
{
    font-size: 2.5rem;
    margin-top: -3rem;
    margin-left:5.5rem;
    margin-bottom: 1.4rem;
    letter-spacing: 1.4rem;
}

#profile>span
{
    padding: 5.5rem;
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-left: 1.8rem;
    letter-spacing: -0.002rem;
    word-spacing: -0.1rem;
}

#xp_level
{
    width:87%;
    margin: 0rem 0rem 0rem -0.7rem;
}

#xp_level+p
{
    margin-left: 1.1rem;
    font-size: 1.4rem;
    letter-spacing: 0.01rem;
    word-spacing: 0.1rem;
}
#xp_level+p span
{
    margin-left: 0.05rem;
    letter-spacing: 0.01rem;
}

#profile  button
{
    background-color: #ffffff;
border: 1px solid #cbcbcb;
border-radius: 0.75rem;
padding: 0.7rem 4.5rem;
  margin: 1.1rem;
  margin-left: 2rem;
  margin-bottom: 1.25rem;
  color: #5C5B5E;
  font-weight: 600;
    font-size: 1.4rem;
    word-spacing: 0.16rem;
}




/* badge section*/

section
{
    margin-top: 0.6rem;
    margin-left: 1.18rem;
    margin-bottom: 2rem;
}

section>img
{
    width: 93.5%;
    margin-left: 1.5rem;
}

section > h3
{
    margin: 2rem 0rem 1.6rem 4rem;
}

/* second div */

#profile ~ div
{
    margin-right: 0.3rem
}




/* attendance */


#attd
{
    margin-top: 2.8rem;
    /* margin-right: 2.9rem; */
    margin-bottom: 3rem;
    width: 58rem;
    
}

#attd>h3
{
    /* font-size: 1.6rem; */
    letter-spacing: -0.05rem;
    word-spacing: -0.1rem;
    padding-bottom: 0.5rem;
}

#attd>h3+img, #user_info>h3+img
{
    width:58.5rem;
}

#attd p
{
    font-weight: 600;
    font-size: 1.77rem;
    margin-left: 0.4rem;
    word-spacing: 0.15rem;
}

#attd p > img
{
    transform: translateY(0.68rem);
    width: 3.4rem;
}

#attd>div
{
    margin-top: 2rem !important;
}

/* user_info */

#user_info > img 
{
    margin-top: 1.6rem;
}
#user_info > div
{
    display: flex;
    margin-top: 1rem;
}

.info_box
{

    font-weight: 800;
    margin-left: 2.2rem;
    margin-top: 2.2rem;
}

.info_box p
{
    font-size: 1.7rem;
    padding-bottom: 3.5rem;
    color: #71594E;
}

.info_box :last-child
{
    padding-bottom: 0;
}

.info_box~div
{
    margin-left: 1.4rem;
    margin-top: 0.2rem;
}

input
{
    display: block;
    border: 0;
    /* background-color: rgba(233, 143, 143, 0.743); */
    background-image: url(../image/id_pw_email_box.png);
    background-size: cover;
    color: #71594E;
    font-weight: 500;
    padding-left: 1.7rem;
    font-size: 1.4rem;
    letter-spacing: 0.03rem;

    width: 26rem;
    height: 4.1rem;
    margin-top: 1.06rem;
    border-radius: 1.1rem;
    margin-bottom: 1.3rem;
}


/* badge */


.badge
{
    justify-content: center;
    position: relative;
}



section > div 
{
    display: flex;
    margin: 3rem 24rem 8rem 21.6rem;
    justify-content: space-between;
}

#quest_beginner
{
    transform: translateY(-1rem);
}

.badge > p
{
    font-weight: 900;
    font-size: 1.7rem;  
    /* transform: translate(0.6rem, 1rem); */
    word-spacing: 0.2rem;
    color: #71594E;
    /* padding-left: 1rem; */
    text-align: center;
    margin-top: 1.2rem;
}



#quest_beginner+p
{
  margin-top: 0rem  !important;
}

#insiderking~p
{
    padding-left: 0rem;
}



nav~div
{
    margin-top: 10rem;
    margin-right: 6rem;
}

#attd > div
{
    margin-top: 1rem;
    margin-right: 1.8rem;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0.5rem; */
}

nav~div
{
    margin-right: 6rem;
}

.stamped
{
    position: relative;
}

.circle
{
    width: 6rem;
}

.stamp
{
    width: 4rem;
    position: absolute;
    top: 20%;
    left: 18%;
}

.unearned
{
    width: 12.4rem;
    position: absolute;
    top: 0;
    left: 0;
}

.badgeIcon
{
    width: 12.4rem;
}
}