/* 예시 사진 */
img {
    width: 100%;
    height: 100%;
}

/* 팝업 */
.opacity {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 76%;

    position: relative;
    bottom: 43.6rem;
}

/* nav */
.logo {
    color: white;

    position: relative;
    bottom: 87rem;
}

.exitIcon {
    position: relative;
    left: 92rem;
    bottom: 86rem;

    width: 1.5rem;
}

/* menu */
.menuSection {
    text-align: center;

    position: relative;
    bottom: 85rem;
}

.menu {
    align-items: center;
    justify-content: center;
}

.talk, .mission, .walk, .character {
    font-family: "Pretendard-SemiBold";
    font-size: 1.3rem;

    margin: 2.75% 0;

    color: white;
}

hr {
    width: 12.5rem;
    border: 0;
    height: 1px;
    background: #868381;
}