body {
    background-color: rgba(0, 0, 0, 0.7);
}

/* nav */
nav {
    margin: 2rem 0;
}

.logo {
    width: 4rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.exitIcon {
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 2rem;
}

/* menu */
.menuSection {
    text-align: center;
    position: relative;
    top: 3rem; /* 위치 조정 */
}

.menu {
    align-items: center;
    justify-content: center;
}

.talk, .mission, .walk, .character, .mypage {
    font-family: "Pretendard-SemiBold";
    font-size: 1.3rem;
    margin: 2.75% 0;
    color: white;
}

hr {
    width: 12.5rem;
    border: 0;
    height: 1px;
    background: #868381;
}
