@font-face {
        font-weight: 300;
        font-family: "Pretendard-Light";
        src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
        format("woff");
}
@font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
}
@font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
        format("woff");
}
@font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
        format("woff");
}
@font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
        format("woff");
}
@font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
        format("woff");
}

* {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    font-size: 16px;
    z-index: -99999;
    display: block;
}

html {
    overflow: hidden;
    overflow-y: hidden;
}

main,
div,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}