<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model Viewer Example</title>

    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bear.css" />
  </head>
  <body>
    <model-viewer
      src="FBXtoGLB-bear-ALL.glb"
      alt="A 3D model of a bear"
      camera-controls
      environment-image="neutral"
      ar
      style="position: absolute; width: 100%; height: 100%"
    >
    </model-viewer>
  </body>
</html>
