<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/character.css">
    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
</head>
<body>
     <div class="model-container">
        <model-viewer id="backgroundModel" src="../glb-garden-last.glb" alt="A 3D model of a window" environment-image="neutral" ar></model-viewer>
        <!-- 토끼 모델 -->
        <!-- <model-viewer id="rabbitModel" src="/ImageToStl.com_fbx-rabbit.glb" alt="A 3D model of a rabbit" environment-image="neutral" ar></model-viewer> -->
    </div>
</body>
</html>