<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/character.css">
    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
</head>
<body>
    <div class="model-container">
        <model-viewer id="backgroundModel" 
                      src="../static/models/glb-garden-last.glb" 
                      alt="A 3D model of a window" 
                      environment-image="neutral" 
                      ar
                      camera-orbit="230deg 70deg 30m"> <!-- 위치 조정, js도 맞게 수정해 줘야 함 -->
        </model-viewer>
    </div>
    <script src="/static/js/home.js"></script>
</body>
</html>
