<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}"> -->
    <!-- 각자 맡은 페이지의 css 파일 연결 -->
    <link rel="stylesheet" href="{{ url_for('static' , path='/css/chat.css') }}">
    
</head>
<body>
    
    <!-- chat -->
    <div class="Wrap">
        <div class="chatPage">
            <div class="topBox">
                <p class="topBoxText">채팅하기</p>
                <p class="closeIcon" onclick="closeEvent()"><img src="/image/close.png'"></p>
            </div>
            <div class="info">
                <div class="circle">
                    <img id="hamster" src="{{ url_for('static', path='image/햄스터.png') }}">
                </div>
                <div class="nameHeart">
                    <div class="name">햄깅이</div>
                    <div><img id="heart" src="/static/image/heart.png"></div>
                </div>
                <div class="greenCircle">
                    <button id="greenCircleText" class="greenCircleText">오늘의 질문</button>
                </div>
                <div class="line"></div>
            </div>
            <div id="chatContainer">
                <div id="chatBox"> 
                    <!-- 챗봇이 말하는 말풍선 -->
                </div>
                <div id="questText">
                    <!-- 오늘의 질문 눌렀을 때 나오는 문구 -->
                </div>
                <div id="completeText">
                    <!-- 미션완료 눌렀을 때 나오는 문구 -->
                </div>
                <div class="sendWrap">
                    <div class="inputWrap">
                        <input type="text" id="userInput" placeholder="마음 속의 말을 전해보세요." maxlength="300">
                        <div id="charCount"></div> 
                        <label class="inputFileCustom" for="inputFile"></label>
                        <input type="file" id="inputFile" style="display:none" onchange="handleFileSelect(event)" accept="image/*"/>
                        <img id="cameraIcon" src="{{ url_for('static', path='image/camera.png') }}" alt="" onclick="document.getElementById('inputFile').click();">
                    </div>
                    <button id="sendbtn" onclick="sendMessage()">
                        <img id="sendbtnImg" src="{{ url_for('static', path='image/sendBtn.png') }}">
                    </button>
                </div>
            </div>
            <div class="bottomBox"></div>
        </div>
    </div>

    <audio id="openSound" src="{{ url_for('static', path='/sound/MP_Pling.mp3') }}"></audio>
    <audio id="closeSound" src="{{ url_for('static', path='/sound/MP_통화 종료음.mp3') }}"></audio>

    <script src="{{ url_for('static', path='/js/chat.js') }}" defer></script>
</body>
</html>
