<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>집</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/home.js" defer></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
</head>
<body>
    <div class="model-container">
        <!-- 윈도우 모델 -->
        <model-viewer id="windowModel" src="/window.glb" alt="A 3D model of a window" environment-image="neutral" ar></model-viewer>
        <!-- 토끼 모델 -->
        <model-viewer id="rabbitModel" src="/ImageToStl.com_fbx-rabbit.glb" alt="A 3D model of a rabbit" environment-image="neutral" ar></model-viewer>
    </div>
    
    <!-- 윈도우 모델 제어 버튼 -->
    <div class="controls">
        <img src="/static/img/up.png" id="up" class="triangle" alt="Up">
        <div>
            <img src="/static/img/left.png" id="left" class="triangle" alt="Left">
            <div class="transparent-box"></div>
            <img src="/static/img/right.png" id="right" class="triangle" alt="Right">
        </div>
        <img src="/static/img/down.png" id="down" class="triangle" alt="Down">
    </div>

    <!-- 토끼 모델 제어 버튼 추가 -->
    <div class="rabbit-controls">
        <img src="/static/img/up.png" id="rabbitUp" class="triangle" alt="Up">
        <div>
            <img src="/static/img/left.png" id="rabbitLeft" class="triangle" alt="Left">
            <div class="transparent-box"></div>
            <img src="/static/img/right.png" id="rabbitRight" class="triangle" alt="Right">
        </div>
        <img src="/static/img/down.png" id="rabbitDown" class="triangle" alt="Down">
    </div>


    <!-- 미션 -->
    <div class="water">
        <div class="waterText">같이 물 마실래?</div>
        <input type="file" class="real-upload" accept="image/*" required multiple>
        <img class="waterTalk" src="/static/img/talkIcon.png">
    </div>
    <div class="clean">
        <div class="cleanText">같이 청소할래?</div>
        <img class="cleanTalk" src="/static/img/talkIcon.png">
    </div>
    <div class="cooking">
        <div class="cookingText">같이 요리할래?</div>
        <img class="cookingTalk" src="/static/img/talkIcon.png">
    </div>
    <div class="wash">
        <div class="washText">씻으러 갈 시간!</div>
        <img class="washTalk" src="/static/img/talkIcon.png">
    </div>
    <div class="table">
        <div class="tableText">약 먹을 시간!</div>
        <img class="tableTalk" src="/static/img/talkIcon.png">
    </div>
    <div class="bed">
        <div class="bedText">명상할 시간!</div>
        <img class="bedTalk" src="/static/img/talkIcon.png">
    </div>
</body>
</html>
