<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>집</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/home.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='css/nav.css') }}" />
    <script src="{{ url_for('static', path='js/home.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/nav.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
    <link rel="icon" href="{{ url_for('static', path='image/fav.ico') }}" type="image/x-icon">
  </head>
  <body>
    home 팝업화면
    <div class="popupWrap">
      <div class="popupBody">
        <div class="closeIcon" onclick="togglePopup()"><img src="{{ url_for('static', path='image/whiteCloseIcon.png') }}"></div>
      </div>
      <!-- 3D model -->
      <!-- <div class="popupModel">
          <model-viewer
          id="rabbitModel2"
          src="{{ url_for('static', path='models/ham.glb') }}"
          environment-image="neutral"
          ar
        ></model-viewer>
      </div> -->
      <div class="popupModel"><img id="rabbitModel2" src="{{ url_for('static', path='image/ham_pngver.png') }}"></div>
      <div class="bottomCircle"></div>
      <div class="popupBlink">마이크를 눌러 귀여운 친구의 이름을 정해주세요.</div>

      <div class="recording">
        <img id="nameRecord" src="{{ url_for('static', path='/image/nameRecord.png') }}" onclick="hideText()">
        <img id="record" src="{{ url_for('static', path='/image/record.png') }}" onclick="startText()">
        <img id="stop" src="{{ url_for('static', path='/image/stop.png') }}" onclick="stopText(); completeMission('pills')">
      </div>
      <p id="result">여러분의 목소리가 여기에 표시 돼요.</p>
      <div id="status-indicator">녹음 전</div>
      <button id="submit-btn" onclick="stopText()">저장</button>




    </div>














    <!-- 기존 home -->
    <div class="model-container">
      <!-- 윈도우 모델 -->
      <model-viewer
        id="windowModel"
        src="{{ url_for('static', path='models/window.glb') }}"
        environment-image="neutral"
        ar
      ></model-viewer>
      <!-- 토끼 모델 -->
      <model-viewer
        id="rabbitModel"
        src="{{ url_for('static', path='models/ham.glb') }}"
        environment-image="neutral"
        ar
      ></model-viewer>
    </div>

    <!-- nav -->
    <nav>
      <img
        src="{{ url_for('static', path='image/logo.png') }}"
        class="logo"
        id="logo"
      />
      <img
        src="{{ url_for('static', path='image/menu.png') }}"
        class="menuIcon"
        id="menuIcon"
      />
    </nav>

    <!-- nav record -->
    <div class="recordWrap">
      <img id="homenameRecord" src="{{ url_for('static', path='/image/whitenameRecord.png') }}" onclick="hideText()">
      <img id="homestop" src="{{ url_for('static', path='/image/whitestop.png') }}" onclick="stopText()">
      <div id="recording-status-indicator"></div>
    </div>
    




    <!-- nav popup -->
    <div id="navPopup" class="nav-popup">
      <nav>
        <img
          src="{{ url_for('static', path='image/exit.png') }}"
          class="exitIcon"
          id="exitIcon"
          alt="Exit"
        />
      </nav>

      <section class="menuSection">
        <div class="menu">
          <div class="mission" id="mission">집으로</div>
          <hr class="hr" />
          <div class="walk" id="walk" onclick="completeMission('walk')">산책하기</div>
          <hr class="hr" />
          <div class="character" id="character">캐릭터 변경</div>
          <hr class="hr" />
          <div class="mypage" id="mypage">마이페이지</div>
          <hr class="hr" />
        </div>
      </section>
    </div>

    <!-- 윈도우 모델 제어 버튼 -->
    <div class="controls">
      <img
        src="{{ url_for('static', path='image/up.png') }}"
        id="up"
        class="triangle"
        alt="Up"
      />
      <div>
        <img
          src="{{ url_for('static', path='image/left.png') }}"
          id="left"
          class="triangle"
          alt="Left"
        />
        <div class="transparent-box"></div>
        <img
          src="{{ url_for('static', path='image/right.png') }}"
          id="right"
          class="triangle"
          alt="Right"
        />
      </div>
      <img
        src="{{ url_for('static', path='image/down.png') }}"
        id="down"
        class="triangle"
        alt="Down"
      />
    </div>

    <!-- 토끼 모델 제어 버튼 추가 -->
    <div class="rabbit-controls">
      <img
        src="{{ url_for('static', path='image/up.png') }}"
        id="rabbitUp"
        class="triangle"
        alt="Rabbit Up"
      />
      <div>
        <img
          src="{{ url_for('static', path='image/left.png') }}"
          id="rabbitLeft"
          class="triangle"
          alt="Rabbit Left"
        />
        <div class="transparent-box"></div>
        <img
          src="{{ url_for('static', path='image/right.png') }}"
          id="rabbitRight"
          class="triangle"
          alt="Rabbit Right"
        />
      </div>
      <img
        src="{{ url_for('static', path='image/down.png') }}"
        id="rabbitDown"
        class="triangle"
        alt="Rabbit Down"
      />
    </div>

    <!-- 토끼 모델 클릭 시 말풍선 이미지 -->
    <div class="rabbitTalkBox">
      <label for="rabbitTalkUpload1">
        <img
          src="{{ url_for('static', path='image/petListIcon.png') }}"
          class="talkIcon"
          id="rabbitTalk1"
        />
      </label>

      <label for="rabbitTalkUpload2">
        <img
          src="{{ url_for('static', path='image/questList.png') }}"
          class="talkIcon"
          id="rabbitTalk2"
        />
      </label>
    </div>

    <!-- 미션 -->
    <div class="water" id="waterContainer">
      <img
        id="water_cleared_stamp"
        class="waterTalk talk-image"
        src="{{ url_for('static', path='image/waterTalk.png') }}"
      />
      <input
        type="file"
        id="waterUpload"
        class="upload-input"
        accept="image/*"
        style="display: none"
      />
    </div>
    <div class="clean" id="cleanContainer">
      <img
        id="clean_cleared_stamp"
        class="cleanTalk talk-image"
        src="{{ url_for('static', path='image/cleanTalk.png') }}"
      />
      <input
        type="file"
        id="cleanUpload"
        class="upload-input"
        accept="image/*"
        style="display: none"
      />
    </div>
    <div class="cooking" id="cookingContainer">
      <img
        id="cooking_cleared_stamp"
        class="cookingTalk talk-image"
        src="{{ url_for('static', path='image/cookTalk.png') }}"
      />
      <input
        type="file"
        id="cookingUpload"
        class="upload-input"
        accept="image/*"
        style="display: none"
      />
    </div>
    <div class="wash" id="washContainer">
      <img
        id="wash_cleared_stamp"
        class="washTalk talk-image"
        src="{{ url_for('static', path='image/washTalk.png') }}"
      />
    </div>
    <div class="talk">
      <img
        id="talk_cleared_stamp"
        class="tableTalk"
        src="{{ url_for('static', path='image/talkTalk.png') }}"
      />
    </div>
    <div class="bed" id="bedContainer"  onclick="completeMission('bed')">
      <img
        id="bed_cleared_stamp"
        class="bedTalk talk-image"
        src="{{ url_for('static', path='image/bedIcon.png') }}"
      />
      
      <div id="timerDisplay" style="display:none;">
        <div class="timerText" >1분 명상 시작!</div>
        <div class="timerNum">
          <div class="timer-part" id="minute">01</div> 
          <div class="timer-colon">:</div>
          <div class="timer-part" id="second">00</div>
        </div> 
        <div id="timerCompleteMessage" onclick="" >시간이 완료되었습니다!</div>

      </div>
    
    </div>
    <div class="pills" id="pillsContainer">
      <img
        id="pills_cleared_stamp"
        class="pillsTalk talk-image"
        src="{{ url_for('static', path='image/pillsTalk.png') }}"
      />
    </div>

    <div class="overlay" style="display: none;"></div>
    <div class="showerPopup">
      <div class="showerText">샤워 후 너의 기분을 알려줘!</div>
      <div class="showerImg">
        <img class="showerHam" src="{{ url_for('static', path='image/happyHam.png') }}" alt="happy">
        <img class="showerHam" src="{{ url_for('static', path='image/badHam.png') }}" alt="bad">
        <img class="showerHam" src="{{ url_for('static', path='image/sadHam.png') }}" alt="sad">
      </div>
      <div class="showerSend">
        <button class="sendText" id="sendTextButton" onclick="completeMission('wash')">내 기분 보내기</button>
      </div>
    </div>

    <div class="blink">동물을 눌러 보세요.</div>

    <div class="Topblink">가구들을 눌러 햄깅이의 미션을 도와주세요!</div>


    
    <audio id="homeSound" src="{{ url_for('static', path='/sound/good-afternoon.mp3') }}"></audio>

    <audio id="cookingSound" src="{{ url_for('static', path='/sound/cookingSound.mp3') }}"></audio>
    <audio id="cleanSound" src="{{ url_for('static', path='/sound/cleanSound.mp3') }}"></audio>
    <audio id="pillsSound" src="{{ url_for('static', path='/sound/pillsSound.mp3') }}"></audio>
    <audio id="washSound" src="{{ url_for('static', path='/sound/washSound.mp3') }}"></audio>
    <audio id="waterSound" src="{{ url_for('static', path='/sound/waterSound.mp3') }}"></audio>
    <!-- bed 필요 -->







    <script>
      // 미션 완료 함수
      function completeMission(mission) {
        fetch(`/complete_mission?mission=${mission}`, { method: 'POST' })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              document.getElementById(`${mission}_cleared_stamp`).style.display = 'block';
            } else {
              console.error(data.message);
            }
          })
          .catch(error => console.error('Error:', error));
      }
    
      // Walk page 이동 (예시)
      document.getElementById('walk').addEventListener('click', () => {
        window.location.href = '/walkpage';
      });
    </script>
  </body>
</html>
