<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="icon" href="/static/image/fav.png">
</head>
<body>
    <nav>
        <img src="/static/image/logo.png" class="logo">
        <i id="soundIcon" class="fas fa-volume-up fa-2x"></i>
    </nav>
    <audio id="messageSound" src="/static/audio/birdsound.mp3"></audio>




    <button id="scrollButton">
        <img id="down" class="down" src="/static/image/scrollDown.png" alt="">
    </button>
    <div class="mainText">귀여운 친구들과 함께 마음의 숲을 탐험해볼까요?</div>

    

    <div class="gradient-background"></div>
    <div class="Wrap">
        <div class="leftTree">
            <img id="lefttree" src="/static/image/leftTree.png">
            <img id="browntree2" src="/static/image/Rectangle 101.png">
            <img id="hamster" src="/static/image/hamster.png">
        </div>
        
        <div class="sky">
            <img id="cloud1" src="/static/image/cloud.png">
            <img id="cloud2" src="/static/image/cloud.png">
            <img id="cloud3" src="/static/image/cloud.png">
        </div>
        <div class="rightTree">
            <img id="tree" src="/static/image/Component 45.png" alt="">
            <img id="browntree" src="/static/image/Rectangle 101.png" alt="">
            <img id="sideTree" src="/static/image/Ellipse 65.png">
        </div>

        <div class="background">
            <img id="noeul" src="/static/image/노을.png">
        </div>

        <div class="LOGO">
            <div class="logoText">마음도 관리가 필요하니까, 햄내와 함께 햄내!</div>
            <img id="logoback" src="/static/image/sumLOGO.png">
            <img id="load" src="/static/image/길.png">
            <button class="startButton" onclick="navigateToMain()">
                <div class="btnText">시작하기</div>
            </button>
        </div>


    </div>
    <script src="{{ url_for('static', path='/js/loading.js') }}" defer></script>
    <!-- <script src="/static/js/loading.js" defer></script> -->
</body>
</html>
