<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/loading.css">
</head>
<body>
    <div class="Wrap">
        <div class="leftTree">
            <img id="lefttree" src="/static/image/leftTree.png">
            <img id="browntree2" src="/static/image/Rectangle 101.png">
        </div>
        
        <div class="sky">
            <img id="cloud1" src="/static/image/cloud.png">
            <img id="cloud2" src="/static/image/cloud.png">
            <img id="cloud3" src="/static/image/cloud.png">
        </div>
        <div class="rightTree">
            <img id="tree" src="/static/image/Component 45.png" alt="">
            <img id="browntree" src="/static/image/Rectangle 101.png" alt="">
            <img id="sideTree" src="/static/image/Ellipse 65.png">
        </div>

        
    </div>
</body>
</html>