<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model Viewer Example</title>

    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/ani.css" />
    <link rel="icon" href="{{ url_for('static', path='image/fav.ico') }}" type="image/x-icon">
  </head>
  <body>
    <model-viewer
    src="/templates/ham_anni.glb"
    alt="A 3D model of hamster"
    camera-controls
    camera-orbit="0deg 75deg 150%"  field-of-view="45deg"
    environment-image="neutral"
    ar
    style="position: absolute; width: 100%; height: 100%"
>
</model-viewer>
    </model-viewer>
  </body>
</html>
