<html>
  <head>
    <title>로그인</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/login_style.css')}}">
  </head>
  <body>
    <div class="login-container">
      <div class="logo-container">
        <img src="{{ url_for('static', path='image/logo.png') }}" alt="로고"> 
        <div class="signup-link">
          <span class="signup-text">아직 회원이 아니신가요?</span> 
          <a href="/signup">회원가입 하기</a>
        </div>
      </div>

      <form method="POST" action="/auth/login" style="width: 100%;"> 
        <div class="input-group">
          <input type="text" id="userid" name="id" placeholder="아이디" required />
        </div>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="비밀번호" required />
        </div>
        <div class="resetPassword">비밀번호 찾기</div>
        <button type="submit">로그인 하기</button> <!-- submit 버튼을 폼 내부로 이동 -->
      </form>
    </div>

    <div class="login-social">
      <img src="{{ url_for('static', path='image/naver.png') }}" alt="naver"/>
      <img src="{{ url_for('static', path='image/google.png') }}" alt="google"/>
      <img src="{{ url_for('static', path='image/kakao.png') }}" alt="kakao"/>
    </div>
  </body>
</html>
