<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/mypage.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/mypage2.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/nav.css')}}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="icon" href="{{ url_for('static', path='image/fav.ico') }}" type="image/x-icon">
    <title>햄내_마이페이지</title>
</head>
<body>
    <nav>
        <img src="/static/image/logo.png" class="logo"></img>
        <img src="/static/image/menu.png" class="menuIcon" id="menuIcon">
    </nav>

    <div>
        <div id="profile">
            <p id="toggle">마이페이지 > 기본정보</p>
            <div>
                <h3><span>{{ user.name }}</span></h3>
                <h3>님과 함께한 지 <span>+{{ days_since_joined}}</span>일째</h3>
            </div>
            <img src="/static/image/sprout_gildong.png" alt="sprout_profile" />
            <p>{{ user.level }}</p>
            <h3>{{ user.name }}</h3>
            <span>{{ user.xp }} XP</p>
            <img id="xp_level" src="/static/image/xp_level.png" alt="level_bar">
            <p>다음 레벨까지 <span> {{ 300 - user.xp }}XP</span> 남았어요 !</p>
            <button class="edit" type="button" onclick="location.href='/mypage/edit'">
                프로필 수정하기
            </button> <!--그냥 a 태그에 이미지로 할까-->
        </div>
        <div>
            <div id="attd">
                <h3>이번주 나의 출석률</h3>
                <img src="/static/image/attd_line.png" alt="">
                <div>
                    {% for i in range(7) %}
                        <div class="stamped">
                            <img class="circle" src="/static/image/Ellipse 147.png" alt="">
                            {% if i < streak %}
                                <img class="stamp" src="/static/image/발바닥.png" alt="">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <p>{{ streak }}일 연속 출석 중 ! <img src="/static/image/check_paw.png" alt="check_paw"></p>
            </div>
            <div id="user_info">
                <h3>기본정보</h3>
                <img src="/static/image/attd_line.png" alt="">
                <div>
                   <div class="info_box">
                        <p>아이디</p>
                        <p>전화번호</p>
                        <p>이메일</p>
                   </div>
                   <div>
                    <input type="text" value="{{ user.id }}" disabled>
                    <input type="text" value="{{ user.tel }}"disabled>
                    <input type="text" value="{{ user.email }}" disabled>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <img src="/static/image/badge_line.png" alt="">
        <h3>획득한 배지</h3>
        <div>
            <div class="badge">
                <img class="badgeIcon"  src="/static/image/king_paw.png" alt="">
                <p> 모험의 시작 </p>
            </div>
            <div class="badge">
                <img class="badgeIcon"  id="quest_beginner" src="/static/image/quest_beginner.png" alt="">
                <p> 퀘스트 초심자 </p>
            </div>
            <div class="badge">
                <img class="badgeIcon" id="insiderking" src="/static/image/first_step_badge.png" alt="">
                <p> 우정의 첫걸음 </p>
            </div>
        </div>
        <div>
            <div class="badge">
                <img  class="badgeIcon"  src="/static/image/attd_king.png" alt="">
                <img class="unearned" src="/static/image/unearned_badge.png" alt="">
                <p> 이번주 출석왕 </p>
            </div>
            <div class="badge">
                <img  class="badgeIcon"  id="quest_killer" src="/static/image/quest_killer.png" alt="">
                <img class="unearned" src="/static/image/unearned_badge.png" alt="">
                <p> 퀘스트 킬러 </p>
            </div>
            <div class="badge">
                <img  class="badgeIcon"  id="insiderking" src="/static/image/insiderking.png" alt="">
                <img class="unearned" src="/static/image/unearned_badge.png" alt="">
                <p> 이 구역의 인싸왕 </p>
            </div>
        </div>
    </section>
</body>
</html>