<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <script src="/static/js/nav.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/nav.css') }}"> -->
    <!-- <script src="{{ url_for('static', path='js/nav.js') }}" defer></script> -->
</head>
<body>
    <div class="opacity"></div>
    <!-- nav -->
    <nav>
        <img src="/static/image/logo.png" class="logo"></img>
        <img src="/static/image/exit.png" class="exitIcon" id="exitIcon">
    </nav>

    <section class="menuSection">
        <div class="menu">
            <div class="talk">집으로</div>
            <hr />
            <div class="mission">대화하기</div>
            <hr />
            <div class="walk">산책하기</div>
            <hr />
            <div class="character">캐릭터 변경</div>
            <hr />
            <div class="mypage">마이페이지</div>
            <hr />
        </div>
    </section>
</body>
</html>