<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <script src="/static/js/nav.js" defer></script>
</head>
<body>
    <!-- nav -->
    <nav>
        <img src="/static/image/logo.png" class="logo" alt="Logo">
        <img src="/static/image/exit.png" class="exitIcon" id="exitIcon" alt="Exit">
    </nav>

    <section class="menuSection">
        <div class="menu">
            <div class="talk">집으로</div>
            <hr />
            <div class="mission">대화하기</div>
            <hr />
            <div class="walk">산책하기</div>
            <hr />
            <div class="character">캐릭터 변경</div>
            <hr />
            <div class="mypage">마이페이지</div>
            <hr />
        </div>
    </section>
</body>
</html>
