<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/walkpage.css') }}"> -->
    <!-- <script src="{{ url_for('static', path='js/walkpage.js') }}" defer></script> -->
</head>
<body>
    <!-- nav -->
    <nav>
        <div class="logo">LOGO</div>
        <div class="menuIcon"><i class="fas fa-bars"></i></div>
    </nav>
</body>
</html>