<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/petslist.css">
</head>

<!-- <body>
<div class="boxdisplay">
    <div class="box1">
        <div class="box1-1">
            <img id="hamster" src="/static/image/햄스터.png" alt="">
        </div>
        <div class="box1Name"> <p class="p1">햄토리</p> </div>
        <div class="box1Text">ISTP <br>낯을 조금 가린다.</div>
    </div>

    <div class="box2">
        <img class="img2" src="static/image/햄스터.png" alt="">
        <div class="box2-1">
            <p class="p2">햄토리</p>
        </div>
        <div class="box2-2">ISTP <br>낯을 조금 가린다.</div>
    </div>
</div>

<div class="boxdisplay2">
    <div class="box3">
        <img class="img3" src="static/image/햄스터.png" alt="">
        <div class="box3-1">
            <p class="p3">햄토리</p>
        </div>
        <div class="box3-2">ISTP <br>낯을 조금 가린다.</div>
    </div>

    <div class="box4">
        <img class="img4" src="static/image/햄스터.png" alt="">
        <div class="box4-1">
            <p class="p4">햄토리</p>
        </div>
        <div class="box4-2">ISTP <br>낯을 조금 가린다.</div>
    </div>
</div>

<div class="boxdisplay3">
    <div class="box5">
        <img class="img5" src="static/image/햄스터.png" alt="">
        <div class="box5-1">
            <p class="p5">햄토리</p>
        </div>
        <div class="box5-2">ISTP <br>낯을 조금 가린다.</div>
    </div>

    <div class="box6">
        <img class="img6" src="static/image/햄스터.png" alt="">
        <div class="box6-1">
            <p class="p6">햄토리</p>
        </div>
        <div class="box6-2">ISTP <br>낯을 조금 가린다.</div>
    </div>
</div>


</body>
</html> -->


<body>
    <div class="Wrap">
        <div class="topText">
            <p class="name">길동</p>
            <p class="nameText">님의 펫 리스트</p>
        </div>
        <hr class="topLine">

        <div class="box1">
            <div class="minBox">
                <div class="charBox"><img id="hamster" src="/static/image/햄스터 (1).png" alt=""></div>
                <div class="TextBox">
                    <div class="nameBox">
                        <div class="nameBoxName">햄토리</div>
                        <p class="heartIcon"><img src="/static/image/heart (1).png" alt=""></p>
                    </div>
                    
                    <div class="descriptionBox">
                        <div class="descriptionBoxText">ISTP<br>낯을 조금 가린다.</div>                        
                    </div>
                </div>   
            </div>

            <div class="minBox">
                <div class="charBox"><img id="hamster" src="/static/image/햄스터 (1).png" alt=""></div>
                <div class="TextBox">
                    <div class="nameBox">
                        <div class="nameBoxName">햄토리</div>
                        <p class="heartIcon"><img src="/static/image/heart (1).png" alt=""></p>
                    </div>
                    
                    <div class="descriptionBox">
                        <div class="descriptionBoxText">ISTP<br>낯을 조금 가린다.</div>                        
                    </div>
                </div>   
            </div>
        </div>
        <div class="box2">
            <div class="minBox">
                <div class="charBox"><img id="hamster" src="/static/image/햄스터 (1).png" alt=""></div>
                <div class="TextBox">
                    <div class="nameBox">
                        <div class="nameBoxName">햄토리</div>
                        <p class="heartIcon"><img src="/static/image/heart (1).png" alt=""></p>
                    </div>
                    
                    <div class="descriptionBox">
                        <div class="descriptionBoxText">ISTP<br>낯을 조금 가린다.</div>                        
                    </div>
                </div>   
            </div>

            <div class="minBox">
                <div class="charBox"><img id="hamster" src="/static/image/햄스터 (1).png" alt=""></div>
                <div class="TextBox">
                    <div class="nameBox">
                        <div class="nameBoxName">햄토리</div>
                        <p class="heartIcon"><img src="/static/image/heart (1).png" alt=""></p>
                    </div>
                    
                    <div class="descriptionBox">
                        <div class="descriptionBoxText">ISTP<br>낯을 조금 가린다.</div>                        
                    </div>
                </div>   
            </div>
        </div>

            
        <div class="box3">
            <div class="minBox">
                <div class="charBox"><img id="hamster" src="/static/image/햄스터 (1).png" alt=""></div>
                <div class="TextBox">
                    <div class="nameBox">
                        <div class="nameBoxName">햄토리</div>
                        <p class="heartIcon"><img src="/static/image/heart (1).png" alt=""></p>
                    </div>
                    <div class="descriptionBox">
                        <div class="descriptionBoxText">ISTP<br>낯을 조금 가린다.</div>                        
                    </div>
                </div>   
            </div>

            <div class="minBox">
                <div class="charBox"><img id="hamster" src="/static/image/햄스터 (1).png" alt=""></div>
                <div class="TextBox">
                    <div class="nameBox">
                        <div class="nameBoxName">햄토리</div>
                        <p class="heartIcon"><img src="/static/image/heart (1).png" alt=""></p>
                    </div>
                    
                    <div class="descriptionBox">
                        <div class="descriptionBoxText">ISTP<br>낯을 조금 가린다.</div>                        
                    </div>               
            </div>
        </div>

            
        </div>
    </div>
</body>
</html>