<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/quest.css') }}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <title>퀘스트 달성도</title>
</head>
<body>
    <!-- nav -->
    <nav>
        <img src="{{ url_for('static', path='image/logo.png') }}" class="logo" alt="Logo">
        <img src="{{ url_for('static', path='image/menu.png') }}" class="menuIcon" id="menuIcon" alt="Menu Icon">
    </nav>

    <section>
        <div class="quest_title">
            <p>마이페이지 > 퀘스트 달성도</p>
            <div>
                <h3><span>길동</span></h3>
                <h3>님의 퀘스트 달성도</h3>
            </div>
            <img src="{{ url_for('static', path='image/quest_line.png') }}" alt="Quest Line">
        </div>

        <!-- 미션 수행 -->
        <div>
            <div id="quest_stamps">
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/water.png') }}" alt="Water Mission">
                    <h3>물 마시기</h3>
                    <img id="water_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Water Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/sprout.png') }}" alt="Sprout Mission">
                    <h3>산책하기</h3>
                    <img id="sprout_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Sprout Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/broomstick.png') }}" alt="Broomstick Mission">
                    <h3>방청소</h3>
                    <img id="broomstick_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Broomstick Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/pot.png') }}" alt="Pot Mission">
                    <h3>요리하기</h3>
                    <img id="pot_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Pot Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/pills.png') }}" alt="Pills Mission">
                    <h3>약 먹기</h3>
                    <img id="pills_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Pills Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/bath.png') }}" alt="Bath Mission">
                    <h3>씻기</h3>
                    <img id="bath_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Bath Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/talk.png') }}" alt="Talk Mission">
                    <h3>대화하기</h3>
                    <img id="talk_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Talk Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/meditaion.png') }}" alt="Meditation Mission">
                    <h3>명상하기</h3>
                    <img id="meditation_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" alt="Meditation Cleared Stamp">
                </div>
            </div>
            <div id="point_card">
                <div>
                    <img src="{{ url_for('static', path='image/coin.png') }}" alt="Coin">
                    <h2>포인트 <span>1500XP</span></h2>
                    <button type="button">수령</button>
                    <p>수령까지 6개의 도장이 남았어요.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', path='js/quest.js') }}"></script>
</body>
</html>
