<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/quest.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/nav.css') }}">
    <script src="{{ url_for('static', path='js/nav.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/quest.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', path='image/fav.ico') }}" type="image/x-icon">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <title>햄내_퀘스트 달성도</title>
</head>
<body>
    <nav><img id="backIcon" src="{{ url_for('static', path='image/back.png') }}" alt="Back"></nav>

    <section class="questSection">
        <div class="quest_title">
            <p>마이페이지 > 퀘스트 달성도</p>
            <div>
                <h3><span></span>님의 퀘스트 달성도</h3>
            </div>
            <img src="{{ url_for('static', path='image/quest_line.png') }}" alt="Quest Line">
        </div>

        <!-- 미션 수행 -->
        <div>
            <div id="quest_stamps">
                <!-- 각 미션에 대한 스탬프 카드 -->
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/water.png') }}" alt="물 마시기">
                    <h3>물 마시기</h3>
                    <img id="water_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Water Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/sprout.png') }}" alt="산책하기">
                    <h3>산책하기</h3>
                    <img id="sprout_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Sprout Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/broomstick.png') }}" alt="방청소">
                    <h3>방청소</h3>
                    <img id="clean_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Clean Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/pot.png') }}" alt="요리하기">
                    <h3>요리하기</h3>
                    <img id="cooking_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Cooking Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/pills.png') }}" alt="약 먹기">
                    <h3>약 먹기</h3>
                    <img id="pills_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Pills Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/bath.png') }}" alt="씻기">
                    <h3>씻기</h3>
                    <img id="wash_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Wash Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/talk.png') }}" alt="대화하기" class="talk-image">
                    <h3>대화하기</h3>
                    <input type="file" id="talkUpload" style="display:none;">
                    <img id="talk_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Talk Cleared Stamp">
                </div>
                <div class="stamp_card">
                    <img src="{{ url_for('static', path='image/meditation.png') }}" alt="명상하기">
                    <h3>명상하기</h3>
                    <img id="bed_cleared_stamp" src="{{ url_for('static', path='image/cleared_stamp.png') }}" style="display: none;" alt="Bed Cleared Stamp">
                </div>
            </div>
            <div id="point_card">
                <div>
                    <img src="{{ url_for('static', path='image/coin.png') }}" alt="포인트">
                    <h2>포인트 <span id="xpDisplay">{{ user_xp }}XP</span></h2>
                    <button type="button" id="rewardButton">수령</button>
                    <p>수령까지 {{ remaining_count }}개의 도장이 남았어요.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', path='js/quest.js') }}"></script>
</body>
</html>
