<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Home</title>
    <link rel="stylesheet" href="/static/css/run_ham.css" />
  </head>
  <body>
    <!-- 로딩 페이지 -->
    <div class="load_home">
      <div class="background">
        <img src="/templates/main_noham.png" alt="" />
        <div id="backgroundOverlay"></div>
      </div>
      <div class="group">
        <div class="hamster">
          <div class="ment">집으로 가자!</div>
          <img src="/templates/walk_ham.png" alt="" />
        </div>

        <!-- <script>
          setTimeout(() => {
            const loadHome = document.querySelector('.load_home');
            loadHome.style.display = 'none'; // 3초 후 로딩 페이지 숨기기
          }, 3000); // 3000 milliseconds = 3 seconds
        </script> -->
      </div>
  </body>
</html>
