<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', path='image/fav.ico') }}" type="image/x-icon">
    <title>Animated Hamster</title>
    <script
      type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"
    ></script>
    <link rel="stylesheet" href="/static/css/run_ham.css" />
    <p></p>
  </head>
  <body>
    <model-viewer
      src="no_ham (1).glb"
      alt="Animated Hamster"
      autoplay
      camera-controls
      environment-image="neutral"
      ar
    >
    </model-viewer>

    <div>집으로 가는 중</div>
  </body>
</html>
