<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ request.url_for('static', path='css/signup_style.css') }}"
    />
    <title>회원 정보 입력</title>
  </head>
  <body>
    <div class="back">
      <a href="/login">
        <img
          src="{{ request.url_for('static', path='images/back.png') }}"
          alt="뒤로가기"
      /></a>
    </div>
    <div class="signup-container">
      <div class="title">회원 정보 입력</div>
      <hr class="titleLine" />
      <form method="POST" action="/signup">
        <div class="input-group">
          <div class="name">이름</div>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="input-group">
          <div class="userid">아이디</div>
          <input type="text" id="userid" name="userid" required />
        </div>
        <div class="input-group">
          <div class="email">이메일</div>
          <input
            type="email"
            id="email"
            name="email"
            class="email"
            placeholder="이메일을 입력해주세요"
            required
          />
        </div>
        <div class="input-group">
          <div class="phone">전화번호</div>
          <input
            type="text"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          />
        </div>
        <div class="input-group">
          <div class="password">비밀번호</div>
          <input
            type="password"
            id="password"
            name="password"
            class="password"
            placeholder="비밀번호를 입력해주세요"
            required
          />
        </div>
        <div class="input-group">
          <div class="password2">비밀번호 확인</div>
          <input
            type="password"
            id="password2"
            name="password2"
            class="password2"
            placeholder="비밀번호를 한 번 더 입력해주세요"
            required
          />
        </div>
        <button class="button" type="submit">가입하기</button>
      </form>
    </div>
  </body>
</html>
